fastapi
uvicorn
python-dotenv
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-chroma
langchain-text-splitters
chromadb
tiktoken
jinja2
sentence-transformers
pypdf
requests
